<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="usc.cs578.com.trojannow" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission android:name="usc.cs578.com.trojannow.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="usc.cs578.com.trojannow.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <receiver
            android:name="usc.cs578.trojannow.manager.network.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="usc.cs578.com.trojannow" />
            </intent-filter>
        </receiver>
        <service android:name="usc.cs578.trojannow.manager.network.GcmIntentService" />

        <activity
            android:name="usc.cs578.trojannow.manager.post.PostViewer"
            android:launchMode="singleTask"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="usc.cs578.trojannow.manager.network.NetworkManager" />

        <activity
            android:name="usc.cs578.trojannow.manager.post.CommentViewer"
            android:label="@string/app_name"
            android:parentActivityName="usc.cs578.trojannow.manager.post.PostViewer">
        </activity>

        <activity
            android:name="usc.cs578.trojannow.manager.user.Login"
            android:launchMode="singleTask"
            android:label="@string/app_name"
            android:parentActivityName="usc.cs578.trojannow.manager.post.PostViewer" >
        </activity>

        <activity
            android:name="usc.cs578.trojannow.manager.user.ForgotPassword"
            android:label="@string/app_name"
            android:parentActivityName="usc.cs578.trojannow.manager.user.Login" >
        </activity>

        <activity
            android:name="usc.cs578.trojannow.manager.user.Register"
            android:label="@string/app_name"
            android:parentActivityName="usc.cs578.trojannow.manager.user.Login" >
        </activity>

        <activity
            android:name="usc.cs578.trojannow.manager.user.Settings"
            android:label="@string/app_name"
            android:parentActivityName="usc.cs578.trojannow.manager.post.PostViewer" >
        </activity>

        <activity
            android:name="usc.cs578.trojannow.manager.chat.Chat"
            android:label="@string/app_name"
            android:parentActivityName="usc.cs578.trojannow.manager.post.PostViewer" >
        </activity>

        <activity
            android:name="usc.cs578.trojannow.manager.user.Profile"
            android:launchMode="singleTask"
            android:label="@string/app_name"
            android:parentActivityName="usc.cs578.trojannow.manager.post.PostViewer" >
        </activity>

        <activity
            android:name="usc.cs578.trojannow.manager.user.ProfileEditor"
            android:label="@string/app_name"
            android:parentActivityName="usc.cs578.trojannow.manager.post.PostViewer" >
        </activity>

        <activity
            android:name="usc.cs578.trojannow.manager.user.FriendViewer"
            android:label="@string/app_name"
            android:parentActivityName="usc.cs578.trojannow.manager.post.PostViewer" >
        </activity>

        <activity
            android:name="usc.cs578.trojannow.manager.post.PostEditor"
            android:label="@string/app_name"
            android:parentActivityName="usc.cs578.trojannow.manager.post.PostViewer"
            android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>

        <receiver android:name="usc.cs578.trojannow.manager.network.NetworkBroadcastListener" >
            <intent-filter >
                <action android:name="GET_FRIENDS" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
